* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefef;

  font-family: "Poppins", sans-serif;

  color: #4e4958;
}

body::before {
  content: "";
  width: 100%;
  height: 436px;

  position: absolute;
  top: 0;
  z-index: -1;

  background-color: #535971;
}

/* Main container */
main {
  width: 750px;
  margin: 140px auto 100px;
}

main h1 {
  color: #fff;
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  font-weight: 400;

  margin-bottom: 18px;
}

main p {
  width: 417px;
  color: #fff;

  font-size: 20px;
  font-weight: 400;

  margin-bottom: 58px;
}

/* Form */
main form {
}
