* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #efefef;

  color: #4e4958;
}

body::before {
  content: "";
  width: 100%;
  height: 436px;

  position: absolute;
  top: 0;
  z-index: -1;

  background-color: #535971;
}

/* Main container */
main {
  width: 750px;
  margin: 140px auto 100px;
}

main h1 {
  color: #fff;
  font-family: "Staatliches", sans-serif;
  font-size: 48px;
  font-weight: 400;

  margin-bottom: 18px;
}

main p {
  width: 417px;
  color: #fff;

  font-size: 20px;
  font-weight: 400;

  margin-bottom: 58px;
}

/* Form */
main form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 64px;
  border-radius: 20px 20px 0 0;

  background-color: #fff;
}

form fieldset {
  border: none;

  width: 100%;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

fieldset legend {
  width: 100%;
  color: #535971;

  font-family: "Staatliches", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
  margin-bottom: 30px;
}

fieldset .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
}

.input-wrapper label {
  color: #4e4958;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.input-wrapper label span {
  color: #c1bccc;

  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 5px;
}

.input-wrapper label span:hover {
  color: #4e4958;
}

.input-wrapper input {
  height: 56px;
  padding: 0 20px;

  background-color: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  font-size: 16px;
}

.multiple-input {
  display: flex;
  gap: 20px;
}

.date-fieldset h3 {
  color: #535971;
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;

  margin-bottom: 10px;
}

.multiple-input-date {
  display: flex;
  gap: 10px;
}

.multiple-input input[type="date"] {
  width: 300px;
  margin-right: 20px;
}

/* Footer and button */

footer {
  padding: 50px 70px;
  border-radius: 0px 0px 20px 20px;
  background: #535971;
}

footer button {
  width: 100%;
  padding: 15px 40px;
  border-radius: 20px;
  background: #ff5374;

  border: none;
  cursor: pointer;

  color: #fff;
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

footer button:hover {
  background: #f14f70;
}

/* Validation for email and password */
form input:not(:focus):not(:placeholder-shown):invalid {
  border: 2px solid #ff5374;
}
